[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "third_party/opencv"]
	path = third_party/opencv
	url = git@github.com:opencv/opencv.git
[submodule "third_party/onnxruntime"]
	path = third_party/onnxruntime
	url = git@github.com:microsoft/onnxruntime.git
